@media only screen and (max-width: 725px) {
	#admin img {
		display: none;
	}
	#admin h2 {
		margin-left: 0;
		text-align: center;
	}
    .edit, .delete {
    	margin-top: 60px;
    }
}

@media only screen and (max-width: 600px) {
    textarea {
    	max-width: 200px;
    	height: 200px;
    }
    input {
    	max-width: 200px;
    }
}

@media only screen and (max-width: 400px) {
	#admin h2 {
		font-size: 1.2em;
	}
	#header-nav * {
		font-size: 0.9em;
	}
	#CATEGORY-NAME {
		font-size: 1.5em;
	}
}

body {
	background-color: black;
	font-family: Lato;
}

#content {
	clear: both;
	max-width: 1000px;
	margin: 0 auto;
	border: solid 5px #cfdff9;
	background-color: #2c3747;
	border-radius: 50px;
}

h1 {
	padding-top: 20px;
	margin-bottom: 15px;
	letter-spacing: 5px;
}

h2 {
	text-align: center;
	
}

h1, h3, p {
	text-align: center;
	color: #cfdff9;
}

p {
	font-size: 1.2em;
}

a {
	display: block;
	text-decoration: none;
	text-align: center;
	color: #2c3747;
	font-weight: bold;
	border: 3px outset;
	border-radius: 10px;
	max-width: 5em;
	margin: 0 auto;
	padding: 5px 4px 6px 4px;
	background-color: #a0c4ff;
}

form {
	text-align: center;
	margin: 40px auto;
	color: #cfdff9;
	padding: 15px;
	border: 3px solid;
	border-radius: 15px;
	font-weight: bold;
	max-width: 50em;
}

label > p {
	display: inline-block;
	padding: 15px;
	margin: 10px 0 -5px 0;
	font-size: 1.3em;
}

input, textarea {
	background-color: #cfdff9;
	border-radius: 10px;
	padding: 10px 8px 8px 12px;
	margin-bottom: 15px;
	font-weight: bold;
}

textarea {
	width: 500px;
	height: 100px;
}

a:visited {
    border-color: white;
}

a:hover {
	background-color: silver;
}

h3 {
	font-size: 1.2em;
	margin-top: 5px;
	margin-bottom: 30px;
	letter-spacing: 4px;
}

input[type="radio"] {
	text-align: initial;
	display: block;
    vertical-align: middle;
    margin: 0 auto 10px;
}

#create-new {
	max-width: 18em;
	margin-top: 15px;
	margin-bottom: 15px;
}

#create-new > p {
	display: inline;
	margin: 0 7px;
	font-size: 0.9em;
	color: #2c3747;
}

.edit {
	float: left;
	width: 10em;
	padding: 8px;
	margin-left: 50px;
	margin-bottom: 30px;
}

.delete {
	float: right;
	width: 10em;
	padding: 8px;
	margin-right: 50px;
	margin-bottom: 30px;
}

.edit-ngos-delete {
	display: inline-block;
	max-width: 10em;
	padding: 8px;
	margin-bottom: 20px;
}

.inline-buttons {
	margin-top: -20px;
	clear: both;
}

.home-inline-buttons {
	display: flex;
	margin-top: -20px;
}

.small-button {
	font-size: 0.8em;
	max-height: 1.5em;
	width: 5em;
	padding: 8px 6px 4px 6px;
}

.ngo-name {
	font-weight: bold;
	font-size: 1.5em;
}

.ngo-focus {
	font-size: 0.9em;
	margin-left: 40px;
	margin-right: 40px;
	line-height: 1.5em;
}

.confirm-cancel {
	margin-top: 15px;
}

.button {
	display: inline;
	padding-left: 8px;
	background-color: #4f5763;
	color: #cfdff9;
	max-width: 10em;
}

.button + .button {
	margin-left: 40px;
}

#cancel {
	font-size: 0.8em;
	padding: 9px;
	border: 2px solid;
}

#ngos-flash, #home-flash {
	display: block;
	text-align: center;
	color: white;
	font-weight: bold;
	margin: 30px 0 -15px 0;
}

#home-flash {
	margin-bottom: 0;
}

.unavailable {
	color: white;
	margin-bottom: 40px;
}

#label {
	font-size: 1.3em;
}

.continent {
	color: #cfdff9;
	letter-spacing: 5px;
	padding-top: 0.83em;
	padding-bottom: 0.83em;
	margin: 0 auto;
	background-color: #22509b;
}

.continent-hr {
	clear: both;
	margin: 0;
}

.expand-text, .continent-expand-text {
	padding-top: 10px;
}

.expand-text:last-of-type, .continent-expand-text:last-of-type {
	padding-bottom: 40px;
}

#sign-in-buttons {
	display: block;
	margin: 0 auto;
	max-width: 400px;
	border-radius: 10px;
	border-style: outset;
	background-color: #2c3747;
	padding-bottom: 30px;
}

#google-sign-in {
	margin-top: 30px;
	text-align: center;
}

#facebook-sign-in {
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	background-color: #3b5998;
}

#google-sign-in-text {
	margin-bottom: 10px;
	letter-spacing: 2px;
}

#header-nav {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.header-nav-buttons {
	float: left;
	width: 33%;
	font-size: 0.6em;
	letter-spacing: 1px;
	white-space: nowrap;
}

.header-nav-buttons a {
	padding: 5px 10px;
}

.header-nav-buttons h3 {
	margin-bottom: 10px;
}

#logout-button {
	padding-left: -13px;
	padding-right: 29px;
}

#all-ngos-button {
	padding-left: -19px;
	padding-right: 35px;
}

#admin {
	width: 100%;
	margin: 0 auto;
}

#admin h2 {
	float: left;
	margin-left: 5%;
	padding-top: 0.5em;
	color: #cfdff9;
}

#admin img {
	float: right;
	width: 20%;
	max-height: 85px;
	max-width: 85px;
	margin-top: 5px;
	margin-right: 5%;
	border-style: outset;
}

#ngos-content {
	clear: both;
}

.ngo-link {
	max-width: 20em;
	background-color: #22509b;
	color: #cfdff9;
}

.ngo-link:hover {
	background-color: silver;
	color: black;
}

.founded {
	display: block;
	margin: 0 auto;
	border-width: 5px;
	border-style: outset;
	max-width: 300px;
	letter-spacing: 3px;
	background-color: silver;
	padding: -10px;
}

.founded p {
	color: #2c3747;
	text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
	opacity: 0.3;
}

#continent-selectors {
	letter-spacing: 1px;
	border-radius: 10px;
	padding: 10px;
	background-color: #cfdff9;
	color: #2c3747;
	font-weight: bold;
}
