@media only screen and (max-width: 600px) {
    textarea {
    	max-width: 200px;
    	height: 200px;
    }
    input {
    	max-width: 200px;
    }
    .edit-delete {
    	margin-top: 10px;
    }
}

body {
	background-color: black;
	font-family: Lato;
}

#content {
	max-width: 1000px;
	margin: 0 auto;
	border: solid 5px #cfdff9;
	background-color: #2c3747;
	border-radius: 50px;
}

h1 {
	padding-top: 20px;
	margin-bottom: 15px;
	letter-spacing: 5px;
}

h2 {
	text-align: center;
	
}

h1, p {
	text-align: center;
	color: #cfdff9;
}

p {
	font-size: 1.2em;
}

a {
	display: block;
	text-decoration: none;
	text-align: center;
	color: #2c3747;
	font-weight: bold;
	border: 3px outset;
	border-radius: 10px;
	max-width: 5em;
	margin: 0 auto;
	padding: 5px 4px 6px 4px;
	background-color: #a0c4ff;
}

form {
	text-align: center;
	margin: 40px auto;
	color: #cfdff9;
	padding: 15px;
	border: 3px solid;
	border-radius: 15px;
	font-weight: bold;
	max-width: 50em;
}

label > p {
	display: inline-block;
	padding: 15px;
	margin: 10px 0 -5px 0;
	font-size: 1.3em;
}

input, textarea {
	background-color: #cfdff9;
	border-radius: 10px;
	padding: 10px 8px 8px 12px;
	margin-bottom: 15px;
	font-weight: bold;
}

textarea {
	width: 500px;
	height: 100px;
}

a:visited {
    border-color: white;
}

a:hover {
	background-color: silver;
}

#r-name {
	font-size: 150%;
	margin-top: 5px;
	margin-bottom: 30px;
}

#create-new {
	max-width: 18em;
	margin-top: 15px;
	margin-bottom: 15px;
}

#create-new > p {
	display: inline;
	margin: 0 7px;
	font-size: 0.9em;
	color: #2c3747;
}

.edit-delete {
	display: inline-block;
	max-width: 10em;
	padding: 8px;
}

.edit-menu-delete {
	display: inline-block;
	max-width: 10em;
	padding: 8px;
	margin-bottom: 20px;
}

#inline-buttons {
	display: flex;
	margin-top: -20px;
}

.small-button {
	font-size: 0.8em;
	max-height: 1.5em;
	padding: 8px 6px 4px 6px;
}

#item-name {
	font-weight: bold;
	font-size: 1.5em;
}

#item-description {
	font-style: italic;
}

.confirm-cancel {
	margin-top: 15px;
}

.button {
	display: inline;
	padding-left: 8px;
	background-color: #4f5763;
	color: #cfdff9;
	max-width: 10em;
}

.button + .button {
	margin-left: 40px;
}

#cancel {
	font-size: 0.8em;
	padding: 9px;
	border: 2px solid;
}

#menu-flash, #home-flash {
	display: block;
	text-align: center;
	color: white;
	font-weight: bold;
	margin: 30px 0 -15px 0;
}

#home-flash {
	margin-bottom: 0;
}

.unavailable {
	color: white;
	margin-bottom: 40px;
}

input[type="radio"] {
	text-align: initial;
	display: block;
    vertical-align: middle;
    margin: 0 auto 10px;
}

#label {
	font-size: 1.3em;
}
