<!DOCTYPE html>
<html>
	<head>
		<title>Restaurants</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<link class="font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	</head>

	<body>
		<h2 id='homepage'><a href="/">H O M E</a></h2>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>

</html>

