{% extends "base.html" %}
{% block content %}

		<h1>EDIT {{ngo.name}}</h1>

		<form action="{{url_for('edit_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}" method='POST'>
			<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
			<label>
				<p>N A M E</p>
				<br>
				<input type='text' size='30' name='name' value='{{ngo.name}}'>
			</label>
			<br>
			<label>
				<p>F O C U S</p>
				<br>
				<textarea name='focus'>{{ngo.focus}}</textarea>
			</label>
			<br>
			<label>
				<p>F O U N D E D</p>
				<br>
				<input type='text' size='20' name='founded' value='{{ngo.founded}}'>
				<br>
			</label>
			<br>
			<label>
				<p>W E B S I T E</p>
				<br>
				<input type='text' size='30' name='website' value='{{ngo.website}}'>
				<br>
			</label>
			<br>
			<label>
				<p>L O G O</p>
				<br>
				<input type='text' size='50' name='logo' value='{{ngo.logo}}'>
			</label>
			<br>
			<p id='label'>C O N T I N E N T</p>
			<select id='continent-selectors' name='continent'>
				{% if ngo.continent == 'Africa' %}
					<option value="Africa" selected>Africa</option>
				{% else %}
					<option value="Africa">Africa</option>
				{% endif %}
				<br><br>
				{% if ngo.continent == 'Antarctica' %}
					<option value="Antarctica" selected>Antarctica</option>
				{% else %}
					<option value="Antarctica">Antarctica</option>
				{% endif %}
				<br><br>
				{% if ngo.continent == 'Asia' %}
					<option value="Asia" selected>Asia</option>
				{% else %}
					<option value="Asia">Asia</option>
				{% endif %}
				<br><br>
				{% if ngo.continent == 'Australia' %}
					<option value="Australia" selected>Australia</option>
				{% else %}
					<option value="Australia">Australia</option>
				{% endif %}
				<br><br>
				{% if ngo.continent == 'Europe' %}
					<option value="Europe" selected>Europe</option>
				{% else %}
					<option value="Europe">Europe</option>
				{% endif %}
				<br><br>
				{% if ngo.continent == 'North America' %}
					<option value="North America" selected>North America</option>
				{% else %}
					<option value="North America">North America</option>
				{% endif %}
				<br><br>
				{% if ngo.continent == 'South America' %}
					<option value="South America" selected>South America</option>
				{% else %}
					<option value="South America">South America</option>
				{% endif %}
				<br><br>
				{% if ngo.continent == 'Worldwide' %}
					<option value="Worldwide" selected>Worldwide</option>
				{% else %}
					<option value="Worldwide">Worldwide</option>
				{% endif %}
			</select>
			<br><br><br>
			<div class='confirm-cancel'>
				<input class='button' type='submit' value='C O N F I R M'>
				<a class='button' id='cancel' href="{{url_for('show_ngos', category_name=category_name, category_id=category_id)}}">C A N C E L</a>
			</div>				
		</form>
		<br><br>
		
{% endblock %}