{% extends "base.html" %}
{% block content %}

		<h1>ADD NEW NGO</h1>

		<form action="{{url_for('new_ngo', category_name=category_name, category_id=category_id)}}" method='POST'>
			<label>
				<p>N A M E</p>
				<br>
				<input type='text' size='30' name='name'>
			</label>
			<br>
			<label>
				<p>F O C U S</p>
				<br>
				<textarea name='focus'></textarea>
			</label>
			<br>
			<label>
				<p>F O U N D E D</p>
				<br>
				<input type='text' size='50' name='founded'>
			</label>
			<br>
			<label>
				<p>W E B S I T E</p>
				<br>
				<input type='text' size='50' name='website'>
			</label>
			<br>			
			<p id='label'>C O N T I N E N T</p>
			<select id='continent-selectors' name='continent'>
				<option value="Africa">Africa</option>
				<option value="Antarctica">Antarctica</option>
				<option value="Asia">Asia</option>
				<option value="Australia">Australia</option>
				<option value="Europe">Europe</option>
				<option value="North America">North America</option>
				<option value="South America">South America</option>
				<option value="Worldwide">Worldwide</option>
			</select>
			<!--
			<label><input type="radio" name="continent" value="Africa">A F R I C A</label>
			<br><br>
			<label><input type="radio" name="continent" value="Antarctica">A N T A R T I C A</label>
			<br><br>
			<label><input type="radio" name="continent" value="Asia">A S I A</label>
			<br><br>			
			<label><input type="radio" name="continent" value="Australia">A U S T R A L I A</label>
			<br><br>
			<label><input type="radio" name="continent" value="Europe">E U R O P E</label>
			<br><br>
			<label><input type="radio" name="continent" value="North America">N O R T H  A M E R I C A</label>
			<br><br>
			<label><input type="radio" name="continent" value="South America">S O U T H  A M E R I C A</label>
			<br><br>
			<label><input type="radio" name="continent" value="Worldwide">W O R L D W I D E</label>
			-->					
			<br><br><br>
			<div class='confirm-cancel'>
				<input class='button' type='submit' value='C R E A T E'>
				<a class='button' id='cancel' href="{{url_for('show_ngos', category_name=category_name, category_id=category_id)}}">C A N C E L</a>
			</div>
		</form>
		<br><br>
		
{% endblock %}