{% extends "base.html" %}
{% block content %}
	{% filter upper %}
		<h1 id='category-name'>{{category_name}}</h1>
	{% endfilter %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p id='ngos-flash'>{{message}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<br>
	<div id='ngos-content'>
		{% if show_restricted %}
			<hr>
			<a id='create-new' href="{{url_for('new_ngo', category_name=category_name, category_id=category_id)}}"><p>C R E A T E</p><p>N E W</p><p>N G O</p></a>
		{% endif %}
		<hr class='continent-hr'>
		{% if ngos|length > 0 %}
			{% if worldwide|length > 0 %}
				<h2 class='continent'>WORLDWIDE</h2>
				<hr class='continent-hr'>
				{% for ngo in worldwide %}
					<div class='continent-expand-text'>
						<img class='ngo-logo' src={{ngo.logo}} alt='logo'>
						<div class='founded'>
							<strong><p class='ngo-name'>{{ngo.name}}</p><p>FOUNDED:</p><p>{{ngo.founded}}</p></strong>
						</div>
						<br>
						<p class='ngo-focus'>{{ngo.focus}}</p>
						<br>
						<a class='ngo-link' href="http://{{ngo.website}}"><div class='ngo-link'>{{ngo.website}}</div></a>
						{% if show_restricted %}
							<div class='inline-buttons'>
								<a class='edit' href="{{url_for('edit_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">EDIT</a>
								<a class='delete' href="{{url_for('delete_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">DELETE</a>
							</div>
						{% endif %}
						<br>
						<hr class='continent-hr'>
					</div>
				{% endfor %}
			{% endif %}
			{% if africa|length > 0 %}
				<h2 class='continent'>AFRICA</h2>
				<hr class='continent-hr'>
				{% for ngo in africa %}
					<div class='continent-expand-text'>
						<img class='ngo-logo' src={{ngo.logo}} alt='logo'>
						<div class='founded'>
							<strong><p class='ngo-name'>{{ngo.name}}</p><p>FOUNDED:</p><p>{{ngo.founded}}</p></strong>
						</div>
						<br>
						<p class='ngo-focus'>{{ngo.focus}}</p>
						<br>
						<a class='ngo-link' href="http://{{ngo.website}}"><div class='ngo-link'>{{ngo.website}}</div></a>
						{% if show_restricted %}
							<div class='inline-buttons'>
								<a class='edit' href="{{url_for('edit_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">EDIT</a>
								<a class='delete' href="{{url_for('delete_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">DELETE</a>
							</div>
						{% endif %}
						<br>
						<hr class='continent-hr'>
					</div>
				{% endfor %}
			{% endif %}
			{% if antarctica|length > 0 %}
				<h2 class='continent'>ANTARCTICA</h2>
				<hr class='continent-hr'>
				{% for ngo in antarctica %}
					<div class='continent-expand-text'>
						<img class='ngo-logo' src={{ngo.logo}} alt='logo'>
						<div class='founded'>
							<strong><p class='ngo-name'>{{ngo.name}}</p><p>FOUNDED:</p><p>{{ngo.founded}}</p></strong>
						</div>
						<br>
						<p class='ngo-focus'>{{ngo.focus}}</p>
						<br>
						<a class='ngo-link' href="http://{{ngo.website}}"><div class='ngo-link'>{{ngo.website}}</div></a>
						{% if show_restricted %}
							<div class='inline-buttons'>
								<a class='edit' href="{{url_for('edit_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">EDIT</a>
								<a class='delete' href="{{url_for('delete_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">DELETE</a>
							</div>
						{% endif %}
						<br>
						<hr class='continent-hr'>
					</div>
				{% endfor %}
			{% endif %}
			{% if asia|length > 0 %}
				<h2 class='continent'>ASIA</h2>
				<hr class='continent-hr'>
				{% for ngo in asia %}
					<div class='continent-expand-text'>
						<img class='ngo-logo' src={{ngo.logo}} alt='logo'>
						<div class='founded'>
							<strong><p class='ngo-name'>{{ngo.name}}</p><p>FOUNDED:</p><p>{{ngo.founded}}</p></strong>
						</div>
						<br>
						<p class='ngo-focus'>{{ngo.focus}}</p>
						<br>
						<a class='ngo-link' href="http://{{ngo.website}}"><div class='ngo-link'>{{ngo.website}}</div></a>
						{% if show_restricted %}
							<div class='inline-buttons'>
								<a class='edit' href="{{url_for('edit_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">EDIT</a>
								<a class='delete' href="{{url_for('delete_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">DELETE</a>
							</div>
						{% endif %}
						<br>
						<hr class='continent-hr'>
					</div>
				{% endfor %}
			{% endif %}
			{% if australia|length > 0 %}
				<h2 class='continent'>AUSTRALIA</h2>
				<hr class='continent-hr'>
				{% for ngo in australia %}
					<div class='continent-expand-text'>
						<img class='ngo-logo' src={{ngo.logo}} alt='logo'>
						<div class='founded'>
							<strong><p class='ngo-name'>{{ngo.name}}</p><p>FOUNDED:</p><p>{{ngo.founded}}</p></strong>
						</div>
						<br>
						<p class='ngo-focus'>{{ngo.focus}}</p>
						<br>
						<a class='ngo-link' href="http://{{ngo.website}}"><div class='ngo-link'>{{ngo.website}}</div></a>
						{% if show_restricted %}
							<div class='inline-buttons'>
								<a class='edit' href="{{url_for('edit_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">EDIT</a>
								<a class='delete' href="{{url_for('delete_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">DELETE</a>
							</div>
						{% endif %}
						<br>
						<hr class='continent-hr'>
					</div>
				{% endfor %}
			{% endif %}
			{% if europe|length > 0 %}
				<h2 class='continent'>EUROPE</h2>
				<hr class='continent-hr'>
				{% for ngo in europe %}
					<div class='continent-expand-text'>
						<img class='ngo-logo' src={{ngo.logo}} alt='logo'>
						<div class='founded'>
							<strong><p class='ngo-name'>{{ngo.name}}</p><p>FOUNDED:</p><p>{{ngo.founded}}</p></strong>
						</div>
						<br>
						<p class='ngo-focus'>{{ngo.focus}}</p>
						<br>
						<a class='ngo-link' href="http://{{ngo.website}}"><div class='ngo-link'>{{ngo.website}}</div></a>
						{% if show_restricted %}
							<div class='inline-buttons'>
								<a class='edit' href="{{url_for('edit_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">EDIT</a>
								<a class='delete' href="{{url_for('delete_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">DELETE</a>
							</div>
						{% endif %}
						<br>
						<hr class='continent-hr'>
					</div>
				{% endfor %}
			{% endif %}
			{% if north_america|length > 0 %}
				<h2 class='continent'>NORTH AMERICA</h2>
				<hr class='continent-hr'>
				{% for ngo in north_america %}
					<div class='continent-expand-text'>
						<img class='ngo-logo' src={{ngo.logo}} alt='logo'>
						<div class='founded'>
							<strong><p class='ngo-name'>{{ngo.name}}</p><p>FOUNDED:</p><p>{{ngo.founded}}</p></strong>
						</div>
						<br>
						<p class='ngo-focus'>{{ngo.focus}}</p>
						<br>
						<a class='ngo-link' href="http://{{ngo.website}}"><div class='ngo-link'>{{ngo.website}}</div></a>
						{% if show_restricted %}
							<div class='inline-buttons'>
								<a class='edit' href="{{url_for('edit_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">EDIT</a>
								<a class='delete' href="{{url_for('delete_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">DELETE</a>
							</div>
						{% endif %}
						<br>
						<hr class='continent-hr'>
					</div>
				{% endfor %}
			{% endif %}
			{% if south_america|length > 0 %}
				<h2 class='continent'>SOUTH AMERICA</h2>
				<hr class='continent-hr'>
				{% for ngo in south_america %}
					<div class='continent-expand-text'>
						<img class='ngo-logo' src={{ngo.logo}} alt='logo'>
						<div class='founded'>
							<strong><p class='ngo-name'>{{ngo.name}}</p><p>FOUNDED:</p><p>{{ngo.founded}}</p></strong>
						</div>
						<br>
						<p class='ngo-focus'>{{ngo.focus}}</p>
						<br>
						<a class='ngo-link' href="http://{{ngo.website}}"><div class='ngo-link'>{{ngo.website}}</div></a>
						{% if show_restricted %}
							<div class='inline-buttons'>
								<a class='edit' href="{{url_for('edit_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">EDIT</a>
								<a class='delete' href="{{url_for('delete_ngo', category_name=category_name, category_id=category_id, ngo_id=ngo.id)}}">DELETE</a>
							</div>
						{% endif %}
						<br>
						<hr class='continent-hr'>
					</div>
				{% endfor %}
				<br>
			{% endif %}
		{% else %}
			<br>
			<h2 class='unavailable'>There are no NGOs in this category</h2>
		{% endif %}
	</div>
	<script type="text/javascript">
		var admin = "<div id='admin'><h2>The administrator of this category is "
		admin += admin_name
		admin += "</h2><img src="
		admin += admin_picture
		admin += "></div><br><br><br>"
		var admin_name = "{{admin.name}}"
		var admin_picture = "{{admin.picture}}"
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="/static/catalogTweaker.js" type="text/javascript"></script>
{% endblock %}